.navbar{
    font-family: 'Roboto';
    font-weight: 700;
    color: #fff;
    display: flex;
    max-width: 85rem;
    margin: 0 auto;
    z-index: 1000;

    &__left{
        flex-grow: 1;
        display: flex;
        width: 44%;
        height: 10rem;
        &-buffer{
            width: 50%;
        }
        & ul {
            margin-right: 2rem;
            display: flex;
            align-items: center;
            & li{
                margin-right: 1rem;
            }
        }
    }

    &__center{
        text-align: center;
        width: 17%;
        height: 7rem;
        padding: 2rem;
        background-color: #fff;
    }

    &__right{
        display: flex;
        width: 44%;
        height: 10rem;
        flex-grow: 1;
        align-items: center;
        & ul {
            display: flex;
            align-items: center;
            margin-left: 2rem;
            & li {
                margin-right: 1rem;
                
                & span {
                    font-family: 'Roboto';
                    font-weight: 700;
                    position: relative;
                    top: -.3rem;
                }
                & svg{
                    height: 1.5rem;
                    width: 1.5rem;
                    fill: #fac122;
                }
            }
        }
    }

}