@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,700");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 70%; }

body {
  background-color: #c07f24;
  height: 100%; }

.btn {
  border-radius: 5px;
  padding: 15px 25px;
  display: inline-block;
  position: relative;
  left: -1.2rem;
  margin-top: 2rem;
  text-decoration: none;
  color: #f1fba6;
  font-size: 2rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 10001; }
  .btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px; }

.red {
  background-color: #ed352b;
  box-shadow: 0px 5px 0px 0px #8b2d28; }
  .red:hover {
    background-color: #FF6656; }

.drum-container {
  width: 50rem;
  margin: 0 auto;
  margin-top: 8rem;
  padding-bottom: 10rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: visible;
  text-align: center; }
  .drum-container__hitbox {
    z-index: 9000;
    width: 100%;
    height: 50rem;
    position: absolute;
    cursor: pointer; }
    .drum-container__hitbox--snare-drum {
      width: 15rem;
      height: 10rem;
      position: absolute;
      top: 32%;
      left: 33%;
      z-index: 9001; }
    .drum-container__hitbox--left-tom {
      width: 15rem;
      height: 8rem;
      position: absolute;
      top: 34%;
      left: 9%;
      z-index: 9002;
      transform: rotate(10deg); }
    .drum-container__hitbox--right-tom {
      width: 15rem;
      height: 8rem;
      position: absolute;
      top: 34%;
      left: 57%;
      z-index: 9002;
      transform: rotate(-10deg); }
    .drum-container__hitbox--kick-drum {
      width: 28rem;
      height: 28rem;
      border-radius: 100rem;
      position: absolute;
      top: 42%;
      z-index: 9003;
      left: 20%; }
    .drum-container__hitbox--right-cymbal {
      width: 19rem;
      height: 2rem;
      position: absolute;
      top: 13%;
      left: 62%;
      z-index: 9001; }
    .drum-container__hitbox--left-cymbal {
      width: 14.5rem;
      height: 5rem;
      position: absolute;
      top: 7%;
      left: 0;
      z-index: 9001; }
  .drum-container svg, .drum-container g {
    overflow: visible; }

#drums {
  width: 100%; }

#drum-overlay {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 17%;
  border-radius: 1rem;
  background-color: #f1fba6;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

#disable-click {
  width: 100%;
  height: 100vh;
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent; }

.drum-overlay__text {
  margin-top: 4rem;
  text-align: center; }
  .drum-overlay__text h1 {
    font-size: 2.7rem;
    color: #4e2221;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 1rem; }
  .drum-overlay__text--instructions-title {
    font-size: 1.5rem;
    color: #bd5a2a;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 1rem; }
  .drum-overlay__text ul {
    margin-top: 1.5rem;
    color: #330808; }
    .drum-overlay__text ul li {
      margin-top: 1rem;
      font-size: 2rem;
      font-family: "IBM Plex Sans", sans-serif; }
  .drum-overlay__text--ready-text {
    position: relative;
    display: block;
    margin-top: 4rem;
    font-size: 2rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    color: #ed352b; }

.animate--beat {
  animation-name: beat;
  animation-duration: .5s;
  transform-origin: 50% 50%; }

.move-cymbal-down {
  animation-name: left-top;
  animation-duration: .5s;
  transform-origin: 50% 50%; }

.cymbal-shake {
  animation-name: shake;
  animation-duration: 1s;
  transform-origin: 50% 50%; }

.scale-up {
  transform: scale(1.05);
  transform-origin: 50% 50%; }

.normalize-scale {
  transform: scale(1);
  transform-origin: 50% 50%; }

@keyframes beat {
  0% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

@keyframes left-top {
  100% {
    transform: translateY(1rem); } }

@keyframes rotate-cymbal {
  0% {
    transform: rotateX(10deg); }
  50% {
    transform: rotateX(0); }
  100% {
    transform: rotateX(-10deg); } }

@keyframes shake {
  10%, 90% {
    transform: translate3d(0, -1px, 0); }
  20%, 80% {
    transform: translate3d(0, 2px, 0); }
  30%, 50%, 70% {
    transform: translate3d(0, -4px, 0); }
  40%, 60% {
    transform: translate3d(0, 4px, 0); } }

@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.hide {
  visibility: hidden;
  opacity: 0; }

.show {
  visibility: visible;
  opacity: 1; }

.main-bg-color {
  background-color: #f8a22b; }

.fade-in {
  animation: fade-in 2s; }

.fade-out {
  animation: fade-out 1s; }

.disable-click {
  pointer-events: none; }

.enable-click {
  pointer-events: all; }

.pointer {
  cursor: pointer; }

.start-overlay {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #cf835d;
  animation: fade-out 2s; }
  .start-overlay h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
    color: #fff;
    letter-spacing: .2rem;
    text-transform: uppercase;
    line-height: 7rem; }

.effect01 {
  text-shadow: 0px 1px 0px #ffffff, 0px 2px 0px #c5c5c5, 0px 3px 0px #919191, 0px 4px 0px #5a5a5a, 0px 5px 10px rgba(35, 31, 32, 0.6); }

.fail-screen {
  width: 30rem;
  background-color: #f8a22b;
  padding: 4rem;
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 100000;
  text-align: center; }
  .fail-screen h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #f1fba6;
    margin-bottom: 1rem; }
  .fail-screen span {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2rem;
    color: #f1fba6; }
  .fail-screen__buttons {
    width: 90%;
    display: block;
    margin-left: 2.1rem; }

#score {
  padding: 1rem;
  background-color: #f1fba6;
  color: #231f20;
  display: block;
  width: 15%;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  position: absolute;
  left: 37%;
  top: 80%; }
