.animate--beat {
    animation-name: beat;
    animation-duration: .5s;
    transform-origin: 50% 50%;
}

.move-cymbal-down {
    animation-name: left-top;
    animation-duration: .5s;
    transform-origin: 50% 50%;
}

.cymbal-shake {
    animation-name: shake;
    animation-duration: 1s;
    transform-origin: 50% 50%;
}

.scale-up {
    transform: scale(1.05);
    transform-origin: 50% 50%;
}

.normalize-scale {
    transform: scale(1);
    transform-origin: 50% 50%;
}



@keyframes beat {
    0% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes left-top {
    100% {
        transform: translateY(1rem);
    }
}

@keyframes rotate-cymbal {
    0% {
        transform: rotateX(10deg);
    }

    50% {
        transform: rotateX(0);
    }

    100% {
        transform: rotateX(-10deg);
    }
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(0, -1px, 0);
    }
    
    20%, 80% {
      transform: translate3d(0, 2px, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(0, -4px, 0);
    }
  
    40%, 60% {
      transform: translate3d(0, 4px, 0);
    }
}

// fade out

@keyframes fade-out {
    from { opacity: 1; }
    to   { opacity: 0; }
}

// fade in
@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}