.drum-container {
    width: 50rem;
    margin: 0 auto;
    margin-top: 8rem;
    padding-bottom: 10rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
    text-align: center;

    &__hitbox {
        z-index: 9000;
        width: 100%;
        height: 50rem;
        position: absolute;
        cursor: pointer;
        //background-color: rgba(255, 255, 255, .5);
        &--snare-drum {
            width: 15rem;
            //background-color: rgba(255, 255, 0, 0.473);
            height: 10rem;
            position: absolute;
            top: 32%;
            left: 33%;
            z-index: 9001;
        }

        &--left-tom {
            width: 15rem;
            //background-color: rgba(255, 0, 0, 0.555);
            height: 8rem;
            position: absolute;
            top: 34%;
            left: 9%;
            z-index: 9002;
            transform: rotate(10deg);
        }

        &--right-tom {
            width: 15rem;
            //background-color: rgba(255, 0, 0, 0.555);
            height: 8rem;
            position: absolute;
            top: 34%;
            left: 57%;
            z-index: 9002;
            transform: rotate(-10deg);
        }

        &--kick-drum {
            width: 28rem;
            height: 28rem;
            //background-color: rgba(0, 0, 255, 0.603);
            border-radius: 100rem;
            position: absolute;
            top: 42%;
            z-index: 9003;
            left: 20%;
        }

        &--right-cymbal {
            width: 19rem;
            //background-color: rgba(255, 166, 0, 0.473);
            height: 2rem;
            position: absolute;
            top: 13%;
            left: 62%;
            z-index: 9001;
        }

        &--left-cymbal {
            width: 14.5rem;
            //background-color: rgba(255, 166, 0, 0.473);
            height: 5rem;
            position: absolute;
            top: 7%;
            left: 0;
            z-index: 9001;
        }
    }

    & svg, g {
        overflow: visible;
    }
}

#drums {
    width: 100%;
}

#drum-overlay {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 17%;
    border-radius: 1rem;
    background-color: $beige;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#disable-click {
    width: 100%;
    height: 100vh;
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}

.drum-overlay {
    

    &__text {
        margin-top: 4rem;
        text-align: center;

        & h1{
            font-size: 2.7rem;
            color: $mortuum;
            font-family: $main-font;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: .2rem;
            margin-bottom: 1rem;
        }

        &--instructions-title {
            font-size: 1.5rem;
            color: $ruddy;
            font-family: $main-font;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: .2rem;
            margin-bottom: 1rem;
        }

        & ul {
            margin-top: 1.5rem;
            color: $brown;
            & li {
                margin-top: 1rem;
                font-size: 2rem;
                font-family: $main-font;
            }
        }

        &--ready-text{
            position: relative;
            display: block;
            margin-top: 4rem;
            font-size: 2rem;
            font-family: $main-font;
            font-weight: 700;
            color: $carmine;
        }
    }

    
}