#score{
    padding: 1rem;
    background-color: $beige;
    color: $black;
    display: block;
    width: 15%;
    font-family: $main-font;
    font-weight: 700;
    font-size: 2rem;
    position: absolute;
    left: 37%;
    top: 80%;
}