.hide {
    visibility: hidden;
    opacity: 0;
}

.show {
    visibility: visible;
    opacity: 1;
}

.main-bg-color {
    background-color: $safron;
}

.fade-in {
    animation: fade-in 2s;
}

.fade-out {
    animation: fade-out 1s;
}


.disable-click {
    pointer-events: none;
}

.enable-click {
    pointer-events: all;
}

.pointer {
    cursor: pointer;
}